{
  "presets": [
    ["@babel/env", {
      "modules": false,
      "loose": true,
      "targets": {
        "ie": 9
      }
    }]
  ],
  "env": {
    "test": {
      "plugins": ["istanbul"]
    }
  }
}
